.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.itemName {
  font-weight: bold;
  margin-right: 1rem;
}

.itemQuantity {
  font-size: 0.8rem;
  color: gray;
}

