.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.itemName {
  font-weight: bold;
  margin-right: 1rem;
}

.itemQuantity {
  font-size: 0.8rem;
  color: gray;
}

.removeButton {
  background-color: rgb(126, 2, 2);
  border: none;
  color: rgb(247, 242, 242);
  cursor: pointer;
  font-size: 0.8rem;
  transition: color 0.3s ease;
}

.removeButton:hover {
  color: darkred;
}
